{% extends "administrator/settings.html" %}

{% block setting_content %}

{% load static %}

<script type="text/javascript" src="{% static 'vms/js/timepicker.js' %}"></script>
    <div class="spacer"></div>
    <div class="well">
        <form class="form-horizontal" action="{% url 'shift:edit' shift.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Edit Shift</legend>
				<label class="col-md-2 control-label">Job Name</label>
                <div class="col-md-10">
                    <p class="form-control-static">{{ job.name }}</p>
                </div>
                <label class="col-md-2 control-label">Job Start Date</label>
                <div class="col-md-10">
                    <p class="form-control-static">{{ job.start_date }}</p>
                </div>
                <label class="col-md-2 control-label">Job End Date</label>
                <div class="col-md-10">
                    <p class="form-control-static">{{ job.end_date }}</p>
                </div>
                {% if form.date.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Date</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="MM/DD/YYYY" type="text" name="date" value="{% if form.date.value %}{{ form.date.value|date:"SHORT_DATE_FORMAT" }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.date.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Date</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="MM/DD/YYYY" type="text" name="date" value="{% if form.date.value %}{{ form.date.value|date:"SHORT_DATE_FORMAT" }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.start_time.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Start Time</label>
                        <div class="col-md-8">
                            <div id="datetimepicker1" class="input-append">
									<input data-format="hh:mm" name="start_time" type="text" value="{% if form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div> 
                            <p class="help-block">
                                <strong>
                                    {% for error in form.start_time.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Start Time</label>
                        <div class="col-md-8">
                            <div id="datetimepicker1" class="input-append">
									<input data-format="hh:mm" name="start_time" type="text" value="{% if form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div> 
                        </div>
                    </div>
                {% endif %}
                {% if form.end_time.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">End Time</label>
                        <div class="col-md-8">
                             <div id="datetimepicker2" class="input-append">
									<input data-format="hh:mm" name="end_time" type="text" value="{% if form.end_time.value %}{{ form.end_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div>
                            <p class="help-block">
                                <strong>
                                    {% for error in form.end_time.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">End Time</label>
                        <div class="col-md-8">
                             <div id="datetimepicker2" class="input-append">
									<input data-format="hh:mm" name="end_time" type="text" value="{% if form.end_time.value %}{{ form.end_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div>
                        </div>
                    </div>
                {% endif %}
                {% if form.max_volunteers.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Maximum number of volunteers that can sign up for this shift</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Maximum number of volunteers" type="text" name="max_volunteers" value="{% if form.max_volunteers.value %}{{ form.max_volunteers.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.max_volunteers.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Maximum number of volunteers that can sign up for this shift</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Maximum number of volunteers" type="text" name="max_volunteers" value="{% if form.max_volunteers.value %}{{ form.max_volunteers.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
				{% if form.country.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Country</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift Country" type="text" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.country.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Country</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift Country" type="text" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
				{% if form.state.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">State</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift State" type="text" name="state" value="{% if form.state.value %}{{ form.state.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.state.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">State</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift State" type="text" name="state" value="{% if form.state.value %}{{ form.state.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
				
				{% if form.city.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">City</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift City" type="text" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.city.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">City</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift City" type="text" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
				
				{% if form.address.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Address</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift Address" type="text" name="address" value="{% if form.address.value %}{{ form.address.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.address.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Address</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift Address" type="text" name="address" value="{% if form.address.value %}{{ form.address.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
				
				{% if form.venue.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">Venue</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift Venue" type="text" name="venue" value="{% if form.venue.value %}{{ form.venue.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.venue.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">Venue</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="Shift Venue" type="text" name="venue" value="{% if form.venue.value %}{{ form.venue.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
