{% extends "vms/base.html" %}

{% block content %}
<br>
{% if messages %}

<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert"></button>
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>

{% endif %}

{% load i18n %}

{% load static %}

<script type="text/javascript" src="{% static 'vms/js/timepicker.js' %}"></script>

    <div class="spacer"></div>
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Edit Shift Hours" %}</legend>
                {% if form.start_time.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Start Time" %}</label>
                        <div class="col-md-8">
                            <div id="datetimepicker1" class="input-append">
									<input data-format="hh:mm" name="start_time" type="text" value="{% if form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div> 
                            <p class="help-block">
                                <strong>
                                    {% for error in form.start_time.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Start Time" %}</label>
							<div class="col-md-8">
								<div id="datetimepicker1" class="input-append">
									<input data-format="hh:mm" name="start_time" type="text" value="{% if form.start_time.value %}{{ form.start_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div>     
							</div>
					</div>



                {% endif %}
                {% if form.end_time.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "End Time" %}</label>
                        <div class="col-md-8">
                            <div id="datetimepicker2" class="input-append">
									<input data-format="hh:mm" name="end_time" type="text" value="{% if form.end_time.value %}{{ form.end_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div>
                            <p class="help-block">
                                <strong>
                                    {% for error in form.end_time.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}                    
					<div class="form-group">
                        <label class="col-md-2 control-label">{% trans "End Time" %}</label>
							<div class="col-md-8">
								<div id="datetimepicker2" class="input-append">
									<input data-format="hh:mm" name="end_time" type="text" value="{% if form.end_time.value %}{{ form.end_time.value|time:"H:i" }}{% endif %}"></input>
									<span class="add-on">	  
										<span class="glyphicon glyphicon-time"></span>
									</span>
								</div>     
							</div>
					</div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2">
                        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
