{% extends "vms/base.html" %}

{% load i18n %}

{% block content %}
    <div class="spacer"></div>
    {% if volunteer_list %}
        <div class="well">
            <legend class="header">{% trans "Manage Volunteer Shifts" %}</legend>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "First Name" %}</th>
                        <th>{% trans "Last Name" %}</th>
                        <th>{% trans "Address" %}</th>
                        <th>{% trans "City" %}</th>
                        <th>{% trans "State/Province" %}</th>
                        <th>{% trans "Country" %}</th>
                        <th>{% trans "Organization" %}</th>
                        <th>{% trans "Phone Number" %}</th>
                        <th>{% trans "Email" %}</th>
                        <th>{% trans "Manage Shifts" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for volunteer in volunteer_list %}
                        <tr>
                            <td>{{ volunteer.first_name }}</td>
                            <td>{{ volunteer.last_name }}</td>
                            <td>{{ volunteer.address }}</td>
                            <td>{{ volunteer.city }}</td>
                            <td>{{ volunteer.state }}</td>
                            <td>{{ volunteer.country }}</td>
                            <td>
                                {% if volunteer.organization.name %}
                                    {{ volunteer.organization.name }}
                                {% elif volunteer.unlisted_organization %}                                    
                                    {{ volunteer.unlisted_organization }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td>{{ volunteer.phone_number }}</td>
                            <td>{{ volunteer.email }}</td>
                            <td><a href="{% url 'shift:manage_volunteer_shifts' volunteer.id %}" class="btn btn-info btn-sm">{% trans "Manage Shifts" %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if has_searched %}
            <div class="alert alert-info">
                <h4>{% trans "Your search returned no results!" %}</h4>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
