{% extends "administrator/settings.html" %}

{% load i18n %}

{% block setting_content %}
    <div class="spacer"></div>
    <form class="form-horizontal" action="{% url 'organization:delete' organization_id %}" method="post">
        {% csrf_token %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Delete Organization" %}</h3>
            </div>
            <div class="panel-body">
                {% trans "Are you sure you want to delete this organization?" %}
                <br>
                <br>
                <button class="btn btn-default" type="submit">{% trans "Yes, Delete this Organization" %}</button>
                <a href="{% url 'organization:list' %}" class="btn btn-default">{% trans "No" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
