{% extends "vms/base.html" %}
{% load i18n %}
{% block content %}
<div class="spacer"></div>
<h2 class="header">{% trans "Manage Reports" %}</h2>
<hr>
{% if report_list %}
<table class="table table-striped table-hover">
   <thead>
      <tr>
         <th>{% trans "Date Submitted" %}</th>
         <th>{% trans "Volunteer Name" %}</th>
         <th>{% trans "Organization" %}</th>
         <th>{% trans "Hours" %}</th>
         <th>{% trans "View Report" %}</th>
         <th>{% trans "Reject Requests" %}</th>
      </tr>
   <thead>
   <tbody>
      {% for report in report_list %}
      <tr>
         <td> {{report.date_submitted}}</td>
         <td>{{report.volunteer}}</td>
         <td>{{report.volunteer.organization}}</td>
         <td>{{report.total_hrs}}</td>
         <td>
            <a href="{% url 'administrator:show_report' report.id %}" class="btn btn-info btn-sm">{% trans "View" %}</a>
         </td>
         <td>
            <a href="{% url 'administrator:reject_report' report.id %}" class="btn btn-danger btn-sm">{% trans "Reject" %}</a>
         </td>
      </tr>
      {% endfor %}
      {% else %}
      No reports requested
      {% endif %}
   </tbody>
</table>
{% endblock %}

