{% extends "vms/base.html" %}

{% load i18n %}

{% block content %}
    <div class="spacer"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{% url 'event:list' %}">{% trans "Events" %}</a></li>
        <li class="active"><a href="{% url 'job:list' %}">{% trans "Jobs" %}</a></li>
        <li class="active"><a href="{% url 'shift:list_jobs' %}">{% trans "Shifts" %}</a></li>
        <li class="active"><a href="{% url 'organization:list' %}">{% trans "Organizations" %}</a></li>
    </ul>
    {% block setting_content %}
    {% endblock %}
{% endblock %}
