<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Volunteer Management System</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "vms/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/bootstrap-lumen-theme/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styling taken from Systers Portal -->
    <link href="{% static "vms/css/style.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/datetimepicker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
	
    <script src="{% static "vms/jquery/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "vms/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.min.js" %}"></script>
    <script src="{% static "vms/jquery-custom/activate-datepicker.js" %}"></script>
    <script src="{% static "vms/datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
                <a class="navbar-brand" href="{% url 'home:index' %}">Systers</a>
            </div>

		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav text-uppercase">
				<li><a href="#">{% trans "About" %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right text-uppercase">
                    {% if user.is_authenticated %}
                        {% if user.administrator %}
                            <li><a href="{% url 'volunteer:search' %}">{% trans "Volunteer Search" %}</a></li>
                            <li><a href="{% url 'shift:volunteer_search' %}">{% trans "Manage Volunteer Shifts" %}</a></li>
                            <li><a href="{% url 'administrator:report' %}">{% trans "Report" %}</a></li>
                            <li><a href="{% url 'administrator:settings' %}">{% trans "Events" %}</a></li>
                            <li><a href="{% url 'registration:signup_administrator' %}">{% trans "Create Admin Account" %}</a></li>
                        {% endif %}
                        {% if user.volunteer %} 
                            <li><a href="{% url 'shift:view_volunteer_shifts' user.volunteer.id %}">{% trans "Upcoming Shifts" %}</a></li>
                            <li><a href="{% url 'shift:view_hours' user.volunteer.id %}">{% trans "Completed Shifts" %}</a></li>
                            <li><a href="{% url 'event:list_sign_up' user.volunteer.id %}">{% trans "Shift Sign Up" %}</a></li>
                            <li><a href="{% url 'volunteer:report' user.volunteer.id %}">{% trans "Report" %}</a></li>
                            <li><a href="{% url 'volunteer:profile' user.volunteer.id %}">{% trans "Profile" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'authentication:logout_process' %}">{% trans "Log Out" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'registration:signup_volunteer' %}">{% trans "Sign Up" %}</a></li>
                        <li><a href="{% url 'authentication:login_process' %}">{% trans "Log In" %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
	</div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
