<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Volunteer Management System</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "vms/bootstrap-3.2.0-dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/bootstrap-lumen-theme/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styling taken from Systers Portal -->
    <link href="{% static "vms/css/style.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <link href="{% static "vms/datetimepicker/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static 'vms/images/favicon.ico' %}">

    <script src="{% static "vms/jquery/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "vms/bootstrap-3.2.0-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vms/jquery-ui-1.11.4.custom/jquery-ui.min.js" %}"></script>
    <script src="{% static "vms/jquery-custom/activate-datepicker.js" %}"></script>
    <script src="{% static "vms/datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script>
    var CityUrl = "{% url 'registration:load_cities' %}"
    var StateUrl = "{% url 'registration:load_states' %}"
    var CheckState = "{% url 'registration:check_states' %}"
    </script> 
    <script src="{% static "vms/js/load_city.js" %}"></script>
    <script src="{% static "vms/js/load_state.js" %}"></script>
    <script src="{% static "vms/js/hide_resume_textbox.js" %}"></script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
                <a class="navbar-brand" href="{% url 'home:index' %}"><img id= 'systers-logo' src="{% static 'vms/images/logo.png' %}"></a>
            </div>

		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">

            <ul class="nav navbar-nav text-uppercase" id="lower-nav">
                    {% if user.is_authenticated %}
                        {% if user.administrator %}
                            <li><a href="{% url 'volunteer:search' %}">{% trans "Volunteer Search" %}</a></li>
                            <li><a href="{% url 'shift:volunteer_search' %}">{% trans "Manage Volunteer Shifts" %}</a></li>
                            <li><a href="{% url 'administrator:report' %}">{% trans "Report" %}</a></li>
                            <li><a href="{% url 'administrator:settings' %}">{% trans "Events" %}</a></li>
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                              style="text-transform: capitalize; text-decoration: none;">{% trans user.administrator.first_name %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                    <li><a href="{% url 'administrator:profile' user.administrator.id %}">{% trans "Profile" %}</a></li>
                                    <li><a href="{% url 'registration:signup_administrator' %}">{% trans "Create Admin Account" %}</a></li> 
                                    <li><a href="{% url 'authentication:password_change' %}">{% trans "Change Password" %}</a></li>
                                    <li><a href="{% url 'authentication:logout_process' %}">{% trans "Log Out" %}</a></li>
                            </ul>
                        </li>

                        {% elif user.volunteer %}
                            <li><a href="{% url 'shift:view_volunteer_shifts' user.volunteer.id %}">{% trans "Upcoming Shifts" %}</a></li>
                            <li><a href="{% url 'shift:view_hours' user.volunteer.id %}">{% trans "Completed Shifts" %}</a></li>
                            <li><a href="{% url 'event:list_sign_up' user.volunteer.id %}">{% trans "Shift Sign Up" %}</a></li>
                            <li><a href="{% url 'volunteer:report' user.volunteer.id %}">{% trans "Report" %}</a></li>
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                              style="text-transform: capitalize; text-decoration: none;">{% trans user.volunteer.first_name %}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                    <li><a href="{% url 'volunteer:profile' user.volunteer.id %}">{% trans "Profile" %}</a></li>
                                    <li><a href="{% url 'authentication:logout_process' %}">{% trans "Log Out" %}</a></li>
                                    <li><a href="{% url 'authentication:password_change' %}">{% trans "Change Password" %}</a></li>
                            </ul>
                        </li>
                        {% else %}
                            <li><a href="{% url 'authentication:logout_process' %}">{% trans "Log Out" %}</a></li>
                        {% endif %}
            </ul>

                        {% else %}
                        <ul class="nav navbar-nav text-uppercase" id="upper-nav">
                        <li><a href="{% url 'registration:signup_volunteer' %}" id="signup-btn">{% trans "Sign Up" %}</a></li>
                        <li><a href="{% url 'registration:signup_administrator' %}" id="signup-admin-btn">{% trans "Sign Up Admin" %}</a></li>
                        <li><a href="{% url 'authentication:login_process' %}" id="log-btn">{% trans "Log In" %}</a></li>
                </ul>
                    {% endif %}
            </div>
        </div>
	</div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
