{% extends "vms/base.html" %}

{% load i18n %}

{% block content %}
    <div class="spacer"></div>
    <div class="well">
        <form class="form-horizontal" method="post" action="{% url 'volunteer:edit' volunteer.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Edit Profile" %}</legend>
                {% if form.description.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "About Me" %}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include a short biography of yourself{% endblocktrans %}" name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                            <p class="help-block">
                                <strong>
                                    {% for error in form.description.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "About Me" %}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include a short biography of yourself{% endblocktrans %}" name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                        </div>
                    </div>
                {% endif %}
                {% if form.first_name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "First Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}First Name{% endblocktrans %}" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.first_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "First Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}First Name{% endblocktrans %}" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.last_name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Last Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Last Name{% endblocktrans %}" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.last_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Last Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Last Name{% endblocktrans %}" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.email.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Email" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Email{% endblocktrans %}" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Email" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Email{% endblocktrans %}" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.address.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Address" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Address{% endblocktrans %}" name="address" value="{% if form.address.value %}{{ form.address.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.address.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Address" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Address{% endblocktrans %}" name="address" value="{% if form.address.value %}{{ form.address.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.city.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "City" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}City{% endblocktrans %}" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.city.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "City" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}City{% endblocktrans %}" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.state.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "State/Province" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}State/Province{% endblocktrans %}" name="state" value="{% if form.state.value %}{{ form.state.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.state.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "State/Province" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}State/Province{% endblocktrans %}" name="state" value="{% if form.state.value %}{{ form.state.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.country.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Country" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Country{% endblocktrans %}" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.country.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Country" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Country{% endblocktrans %}" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.phone_number.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Phone Number" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Phone Number{% endblocktrans %}" name="phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.phone_number.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Phone Number" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Phone Number{% endblocktrans %}" name="phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        {% trans "Select your organization:" %}
                    </label>
                    <div class="col-md-8">
                        <select class="form-control" name="organization_name">
                            <option value="0">-- {% trans "None" %} --</option>
                            {% for organization in organization_list %}
                                {% if volunteer.organization_id %}
                                    {% if organization.name == volunteer.organization.name %}
                                        <option selected value="{{ organization.id }}">{{ organization.name }}</option>
                                    {% else %}
                                        <option value="{{ organization.id }}">{{ organization.name }}</option>
                                    {% endif %}
                                {% else %}
                                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if form.unlisted_organization.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "If your organization is not listed, please provide it here:" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Organization{% endblocktrans %}" name="unlisted_organization" value="{% if form.unlisted_organization.value %}{{ form.unlisted_organization.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.unlisted_organization.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "If your organization is not listed, please provide it here:" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Organization{% endblocktrans %}" name="unlisted_organization" value="{% if form.unlisted_organization.value %}{{ form.unlisted_organization.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.websites.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Profiles" %}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include links to any online profiles here{% endblocktrans %}" name="websites">{% if form.websites.value %}{{ form.websites.value }}{% endif %}</textarea>
                            <p class="help-block">
                                <strong>
                                    {% for error in form.websites.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Profiles" %}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include links to any online profiles here{% endblocktrans %}" name="websites">{% if form.websites.value %}{{ form.websites.value }}{% endif %}</textarea>
                        </div>
                    </div>
                {% endif %}
				{% if form.reminder_days.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Shift Reminder Days" %}<br><i>{% trans "How many days before a shift do you want to receive a reminder email?" %}</i></label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Shift Reminder Days{% endblocktrans %}" name="reminder_days" value="{% if form.reminder_days.value %}{{ form.reminder_days.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.reminder_days.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Shift Reminder Days" %}<br><i>{% trans "How many days before a shift do you want to receive a reminder email?" %}</i></label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="{% blocktrans %}Shift Reminder Days{% endblocktrans %}" name="reminder_days" value="{% if form.reminder_days.value %}{{ form.reminder_days.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if resume_invalid %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Upload Updated Resume" %}</label>
                        <div class="col-md-8">
                            <input name="resume_file" type="file">
                            <p class="help-block">
                                <strong>
                                    {% trans "Uploaded file is invalid." %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Upload Updated Resume" %}</label>
                        <div class="col-md-8">
                            <input name="resume_file" type="file">
                        </div>
                    </div>
                {% endif %}
                {% if form.resume.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Resume" %}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include your resume here{% endblocktrans %}" name="resume">{% if form.resume.value %}{{ form.resume.value }}{% endif %}</textarea>
                            <p class="help-block">
                                <strong>
                                    {% for error in form.resume.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Resume" %}</label>
                        <div class="col-md-8">
                            <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include your resume here{% endblocktrans %}" name="resume">{% if form.resume.value %}{{ form.resume.value }}{% endif %}</textarea>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-12 col-md-offset-2">
                        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    {% if form.resume_file.value and not resume_invalid %}
        <form action="{% url 'volunteer:delete_resume' volunteer.id %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Uploads" %}</div>
                <div class="panel-body">
                    <button class="btn btn-danger" type="submit">{% trans "Delete Uploaded Resume" %}</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
