{% extends "vms/base.html" %}

{% load i18n %}

{% block content %}
    <div class="spacer"></div>
    <div class="alert alert-info">
        {% trans "Please enter any of the fields below to generate a report." %}
    </div>
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Report" %}</legend>
                {% if form.event_name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Event Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="event_name" value="{% if form.event_name.value %}{{ form.event_name.value}}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.event_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Event Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="event_name" value="{% if form.event_name.value %}{{ form.event_name.value}}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.job_name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Job Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="job_name" value="{% if form.job_name.value %}{{ form.job_name.value}}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.job_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Job Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="job_name" value="{% if form.job_name.value %}{{ form.job_name.value}}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-md-2 control-label">{% trans "Start Date" %}</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="start_date" id="from" name="from" value="{% if form.start_date.value %}{{ form.start_date.value }}{% endif %}">
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-md-2 control-label">{% trans "End Date" %}</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="end_date" id="to" name="to" value="{% if form.end_date.value %}{{ form.end_date.value }}{% endif %}">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-md-12 col-md-offset-2">
                    <button class="btn btn-primary" type="submit">{% trans "Generate Report" %}</button>
                </div>
            </div>
        </form>
    </div>
    {% if report_list %}
        <div class="well">
            <legend>{% trans "Report Statistics" %}</legend>
            <label><h4><span class="label label-default">{% trans "Total Number of Shifts" %}</span></h4></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ report_list|length }}
            <br>
            <label><h4><span class="label label-default">{% trans "Total Hours" %}</span></h4></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ total_hours }}
        </div>
        <div class="well">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Event Name" %}</th>
                        <th>{% trans "Job Name" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Logged Start Time" %}</th>
                        <th>{% trans "Logged End Time" %}</th>
                        <th>{% trans "Duration" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in report_list %}
                        <tr>
                            <td>{{ report.event_name }}</td>
                            <td>{{ report.job_name }}</td>
                            <td>{{ report.date }}</td>
                            <td>{{ report.logged_start_time }}</td>
                            <td>{{ report.logged_end_time }}</td>
                            <td>{{ report.duration }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if notification %}
            <div class="alert alert-danger">
                {% trans "Your criteria did not return any results." %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
