{% extends "vms/base.html" %}

{% load i18n %}

{% block content %}
    <div class="spacer"></div>
    <div class="well">
        <form class="form-horizontal" action="{% url 'volunteer:search' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Search Volunteers" %}</legend>
                {% if form.first_name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "First Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by First Name{% endblocktrans %}" type="text" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.first_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "First Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by First Name{% endblocktrans %}" type="text" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.last_name.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Last Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by Last Name{% endblocktrans %}" type="text" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.last_name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Last Name" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by Last Name{% endblocktrans %}" type="text" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.city.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "City" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by City{% endblocktrans %}" type="text" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.city.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "City" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by City{% endblocktrans %}" type="text" name="city" value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.state.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "State/Province" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by State/Province{% endblocktrans %}" type="text" name="state" value="{% if form.state.value %}{{ form.state.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.state.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "State/Province" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by State/Province{% endblocktrans %}" type="text" name="state" value="{% if form.state.value %}{{ form.state.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.country.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Country" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by Country{% endblocktrans %}" type="text" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.country.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Country" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by Country{% endblocktrans %}" type="text" name="country" value="{% if form.country.value %}{{ form.country.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
                {% if form.organization.errors %}
                    <div class="form-group has-error">
                        <label class="col-md-2 control-label">{% trans "Organization" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by Organization{% endblocktrans %}" type="text" name="organization" value="{% if form.organization.value %}{{ form.organization.value }}{% endif %}">
                            <p class="help-block">
                                <strong>
                                    {% for error in form.organization.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </strong>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label class="col-md-2 control-label">{% trans "Organization" %}</label>
                        <div class="col-md-8">
                            <input class="form-control" placeholder="{% blocktrans %}Search by Organization{% endblocktrans %}" type="text" name="organization" value="{% if form.organization.value %}{{ form.organization.value }}{% endif %}">
                        </div>
                    </div>
                {% endif %}
            </fieldset>
            <div class="form-group">
                <div class="col-md-12 col-md-offset-2">
                    <button class="btn btn-primary" type="submit">{% trans "Search" %}</button> 
                </div>
            </div>
        </form>
    </div>
    {% if search_result_list %}
        <div class="well">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "First Name" %}</th>
                        <th>{% trans "Last Name" %}</th>
                        <th>{% trans "Address" %}</th>
                        <th>{% trans "City" %}</th>
                        <th>{% trans "State/Province" %}</th>
                        <th>{% trans "Country" %}</th>
                        <th>{% trans "Organization" %}</th>
                        <th>{% trans "Phone Number" %}</th>
                        <th>{% trans "Email" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for volunteer in search_result_list %}
                        <tr>
                            <td>{{ volunteer.first_name }}</td>
                            <td>{{ volunteer.last_name }}</td>
                            <td>{{ volunteer.address }}</td>
                            <td>{{ volunteer.city }}</td>
                            <td>{{ volunteer.state }}</td>
                            <td>{{ volunteer.country }}</td>
                            <td>
                                {% if volunteer.organization.name %}
                                    {{ volunteer.organization.name }}
                                {% elif volunteer.unlisted_organization %}                                    
                                    {{ volunteer.unlisted_organization }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td>{{ volunteer.phone_number }}</td>
                            <td>{{ volunteer.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if has_searched %}
            <div class="alert alert-info">
                <h4>{% trans "Your search return no results!" %}</h4>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
