{% extends "administrator/settings.html" %}

{% load staticfiles %}

{% load i18n %}

{% block setting_content %}
<br>
{% if messages %}

<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert"></button>
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>

{% endif %}


    <div class="spacer"></div>
    {% if event_list %}
        <div class="well">
            <form class="form-horizontal" action="{% url 'job:create' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>{% trans "Create Job" %}</legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            {% trans "Event:" %}
                        </label>
                        <div class="col-md-8">
                            <select class="form-control" name="event_id" id="events" onchange="update_event_dates()">
                                {% for event in event_list %}
                                    <option value="{{ event.id }}" start_date="{{ event.start_date }}" end_date="{{ event.end_date }}">{{ event.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-md-2 control-label">{% trans "Event Start Date" %}</label>
						<div class="col-md-10">
							<p class="form-control-static" id="start_date_here">start_date</p>
						</div>
						<label class="col-md-2 control-label">{% trans "Event End Date" %}</label>
						<div class="col-md-10">
							<p class="form-control-static" id="end_date_here">end_date</p>
						</div>
					</div>
                    <script src="{% static "vms/js/update-event-dates.js" %}"></script>
                    {% if form.name.errors %}
                        <div class="form-group has-error">
                            <label class="col-md-2 control-label">{% trans "Job Name" %}<span class="asteriskField">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" placeholder="{% blocktrans %}Job Name{% endblocktrans %}" type="text" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                                <p class="help-block">
                                    <strong>
                                        {% for error in form.name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{% trans "Job Name" %}<span class="asteriskField">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" placeholder="{% blocktrans %}Job Name{% endblocktrans %}" type="text" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                            </div>
                        </div>
                    {% endif %}
                    {% if form.description.errors %}
                        <div class="form-group has-error">
                            <label class="col-md-2 control-label">{% trans "Description" %}</label>
                            <div class="col-md-8">
                                <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include a description of the job here{% endblocktrans %}" name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                                <p class="help-block">
                                    <strong>
                                        {% for error in form.description.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{% trans "Description" %}</label>
                            <div class="col-md-8">
                                <textarea class="form-control" type="text" rows="4" placeholder="{% blocktrans %}Include a description of the job here{% endblocktrans %}" name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                            </div>
                        </div>
                    {% endif %}
                    {% if form.start_date.errors %}
                        <div class="form-group has-error">
                            <label class="col-md-2 control-label">{% trans "Start Date" %}<span class="asteriskField">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="start_date" id="from" name="from" value="{% if form.start_date.value %}{{ form.start_date.value }}{% endif %}">
                                <p class="help-block">
                                    <strong>
                                        {% for error in form.start_date.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{% trans "Start Date" %}<span class="asteriskField">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="start_date" id="from" name="from" value="{% if form.start_date.value %}{{ form.start_date.value }}{% endif %}">
                            </div>
                        </div>
                    {% endif %}
                    {% if form.end_date.errors %}
                        <div class="form-group has-error">
                            <label class="col-md-2 control-label">{% trans "End Date" %}<span class="asteriskField">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="end_date" id="to" name="to" value="{% if form.end_date.value %}{{ form.end_date.value }}{% endif %}">
                                <p class="help-block">
                                    <strong>
                                        {% for error in form.end_date.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{% trans "End Date" %}<span class="asteriskField">*</span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="end_date" id="to" name="to" value="{% if form.end_date.value %}{{ form.end_date.value }}{% endif %}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-md-12 col-md-offset-2">
                            <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    {% else %}
        <div class="alert alert-success">
            {% trans "Please add events to associate with jobs first." %}
        </div>
    {% endif %}
{% endblock %}
