{% extends "administrator/settings.html" %}

{% load i18n %}

{% block setting_content %}
    <div class="spacer"></div>
    {% if job.description %}
        <div class="panel panel-default">
            <div class="panel-heading">{% trans "Job Description" %}</div>
            <div class="panel-body">
                {{ job.description }}
            </div>
        </div>
    {% endif %}
    <table class="table table-striped table-hover">
        <thead>
            <th>{% trans "Job Name" %}</th>
            <th>{% trans "Event" %}</th>
            <th>{% trans "Start Date" %}</th>
            <th>{% trans "End Date" %}</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ job.name }}</td> 
                <td>{{ job.event.name }}</td> 
                <td>{{ job.start_date }}</td> 
                <td>{{ job.end_date }}</td> 
            </tr> 
        </tbody>
    </table>
{% endblock %}
